<div class="limiter">
  <div class="container-login">
    <mat-card>
      <mat-card-title>
        {{title}}
      </mat-card-title>
      <mat-card-content>
        <form class="form-container" [formGroup]="authForm" novalidate (ngSubmit)="onSubmit()">
          <mat-form-field color="accent" *ngIf="isSignUp" >
            <input matInput placeholder="Name" type="text" formControlName="name">
            <mat-error *ngIf="authForm.controls.name.invalid && authForm.controls.name.touched">
              Name is required
            </mat-error>
          </mat-form-field>
          <mat-form-field color="accent">
            <input matInput placeholder="Email" type="email" formControlName="email">
            <mat-error *ngIf="authForm.controls.email.invalid && authForm.controls.email.touched">
              Email is required
            </mat-error>
          </mat-form-field>
          <mat-form-field color="accent">
            <input matInput placeholder="Password" type="password" formControlName="password">
            <mat-error *ngIf="authForm.controls.password.invalid && authForm.controls.password.touched">
              Item is required
            </mat-error>
          </mat-form-field>
          <div>
            <button mat-raised-button [disabled]="!authForm.valid" class="btn btn-social btn-block" type="submit" color="accent">
              {{title}}
            </button>
            <!-- <button mat-raised-button type="button" (click)="googleAuthHandler()">
              Google
            </button> -->
            <a *ngIf="!isSignUp" href="http://localhost:3000/api/auth/google" class="btn btn-social btn-block btn-google" mat-button><i class="fa fa-google"></i> Google</a>
            <a *ngIf="!isSignUp" href="http://148.237.42.44:3000/api/auth/twitter" class="btn btn-social btn-block btn-twitter" mat-button><i class="fa fa-twitter"></i> Twitter</a>
          </div>
        </form>

      </mat-card-content>
      <div class="alternative" *ngIf="!isSignUp">
        <p>
          Don´t have an account?
        </p>
        <button class="btn btn-social btn-block" (click)="goToSignUp()" mat-raised-button color="accent">
          Sign up
        </button>
      </div>
      <div class="alternative" *ngIf="isSignUp">
        <p>
          You already have an account?
        </p>
        <button class="btn btn-social btn-block" (click)="goToLogin()" mat-raised-button color="accent">
          Log in
        </button>
      </div>
    </mat-card>
  </div>
</div>
